.primeira-section-sobre {
    width: 100%;
    margin-bottom: 4vw;
}

.linhaConheca-contato {
    width: 15vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
    margin-bottom: 1vw;
}

.conheca-contato {
    margin-left: 41vw;
    text-align: center;
    position: absolute;
    top: 7vw;
    z-index: 1;
}

.conheca-contato h1,
h3 {
    text-align: center;
}

.conheca-contato h1 {
    color: white;
    font-size: 2vw;
}

.conheca-contato h3 {
    color: #afa2a2;
    font-size: 1vw;
}

.segunda-secao-contato {
    width: 100%;
}

.cartContato {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    margin-left: 4.2vw;
}

.segunda-secao-contato p {
    color: #ffff;
}

.card-what {
    margin-right: 1vw;
    border: solid 0.1vw;
    color: #afa2a2;
    padding: 2.5vw 7vw 2.5vw 7vw;
    justify-content: center;
    align-items: center;
}

.primeiraPart-what {
    display: flex;
}

.primeiraPart-what img {
    width: 2vw;
    margin-top: 0vw;
    margin-right: 1.5vw;
}

.primeiraPart-what p {
    margin-top: 1vw;
    font-size: 1.2vw;
}

.segundaPart-what p {
    font-size: 1.2vw;
}

.card-what1 {
    margin-right: 5vw;
    border: solid 0.1vw;
    color: #afa2a2;
    padding: 2.5vw 4vw 2.5vw 4.8vw;
    justify-content: center;
    align-items: center;
}

.primeiraPart-what1 {
    display: flex;
}

.primeiraPart-what1 img {
    width: 2vw;
    margin-top: 0.1vw;
    margin-right: 1.5vw;
}

.primeiraPart-what1 p {
    margin-top: 1vw;
    font-size: 1.2vw;
}

.segundaPart-what1 p {
    font-size: 1.2vw;
}

.mensagem {
    width: 100%;
}

.mensagem h4 {
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

.linhaConheca-mensagem {
    width: 10vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
}

.form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:44.739583333333336vw;
    margin-top: -5vw;
}

form {
    background-color: #2C3675;
    padding: 1.0416666666666667vw;
    border-radius:  0.2604166666666667vw;
    width: 60.5vw;
    margin-right: 1.2vw;
}

.conjunto {
    display: flex;
    flex-direction: column;
    gap:  0.78125vw;
}

.primeiraPart-forms,
.segundaPart-forms {
    display: flex;
    justify-content: space-between;
    gap:  2.5vw;
}

.input-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 28vw;
    padding:0.5208333333333334vw;
    border:  0.052083333333333336vw solid #ffffff;
    border-radius: 0.2604166666666667vw;
    background-color: #2C3675;
    color: #ffffff;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #ffffffa8;
    font-size: 1vw;
}


label {
    display: block;
    margin-bottom: 0.2604166666666667vw;
}

.conjunto label{
    color: white;
    font-size: 1vw;
}

textarea {
    width: 100%;
    height: 10.416666666666666vw;
}

#botao {
    font-size: 1.2vw;
    background-color: #FFCC00;
    color: #263370;
    border: none;
    padding:  0.78125vw;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius:  0.2604166666666667vw;
    transition: background-color 0.3s;
    margin-bottom: 3vw;
}

#botao:hover {
    background-color: #e6b800;
}

.quarta-secao-contato{
    width: 100%;
    background-color: white;
    height: 30vw;
}

.curriculo h1{
    color: #263370;
    font-size: 2vw;
    text-align: center;
    transform: translateY(3vw);
}

.linhaConheca-curriculo{
    transform: translateY(3vw);
    width: 20vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
}

.curriculo h3{
    color: #263370;
    font-size: 1.5vw;
    text-align: center;
    transform: translateY(4vw);
}

.upload-input {
    margin-top: 10vw;
    padding: 0.6489292667099286vw;
    border-radius: 0.3244646333549643vw;
    border: 0.06489292667099286vw solid#2A3D81;
    background-color: white;
    color: #2A3D81;
    cursor: pointer;
    
  }
  
  .upload-input::file-selector-button {
    background-color: #2A3D81;
    color: white;
    border: none;
    padding: 1.2978585334198571vw;
    border-radius: 0.3244646333549643vw;
    cursor: pointer;
  }
  
/* --------------------Versão mobile */

@media only screen and (max-width: 600px) {

    .conheca-contato h1 {
        color: white;
        font-size: 4vw;
    }

    .conheca-contato h3 {
        color: #afa2a2;
        font-size: 2.5vw;
    }

    .conheca-contato {
        margin-left: 34vw;
    }

    .linhaConheca-contato {
        width: 27vw;
        border-top: 0.15vw solid #FDC204;
        border-radius: 0.078125vw;
        margin: auto;
        margin-bottom: 1vw;
    }
    
    .segunda-secao-contato {
        width: 100%;
    }

    .cartContato {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3vw;
    }

    .primeiraPart-what p {
        margin-top: 1vw;
        font-size: 3.5vw;
    }

    .primeiraPart-what img {
        width: 4vw;
        margin-top: -2vw;
        margin-right: 1.5vw;
    }

    .primeiraPart-what1 img {
        width: 4vw;
        margin-top: -2vw;
        margin-right: 1.5vw;
    }

    .segundaPart-what p {
        font-size: 2.5vw;
        text-align: center;
    }

    .segundaPart-what1 p {
        font-size: 2.5vw;
    }

    .primeiraPart-what1 p {
        margin-top: 1vw;
        font-size: 3.5vw;
    }
  
    .card-what {
        max-width: 50vw;
        margin-right: 1vw;
        border: solid 0.1vw;
        color: #afa2a2;
        padding: 2.5vw 4vw 2.5vw 4vw;
        justify-content: center;
        align-items: center;
    }
    
    .card-what1 {
        max-width: 50vw;
    }

    .mensagem h4{
        font-size: 3vw;
        margin-top: 8vw;
    }



    

}