a {
    color: white;
}

.primeira-secao {
    width: 100%;
    position: relative;
}

.primeira-secao>img {
    width: 100%;
    height: auto;
    display: block;
}

.info-home {
    position: absolute;
    top: 7vw;
    left: 14vw;
    z-index: 1;
}

.info-home>h1 {
    color: white;
    font-size: 1.8vw;
}

.info-home>p {
    width: 47%;
    color: white;
    font-size: 1.4vw;
    margin-top: 2vw;
}

.linha-home {
    width: 27vw;
    border-bottom: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
}

.segunda-secao {
    background-color: #2B3570;
    width: 100%;
    height: 100%;
}

.sobreHome h1 {
    text-align: center;
    margin-top: 3vw;
    color: white;
    font-size: 1.7vw;
}

.linhaSobre {
    width: 10vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
    margin-bottom: 3vw;
}

.descricao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soldador {
    width: 50%;
}

.soldador img {
    width: 30vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 3vw;
}

.paragrafo {
    width: 50%;
    color: white;
    margin-bottom: 3vw;
}

.paragrafo p {
    font-size: 1.2vw;
    width: 70%;
    margin-bottom: 4vw;
}

.botao button {
    background-color: #FDC204;
    border-radius: 0.5vw;
    border: none;
    padding: 0.5vw 4vw;
    cursor: pointer;
    color: blue;
    font-size: 1vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botao button:hover {

    transform: scale(1.1);
}

.terceira-secao {

    width: 100%;
    padding: 5vw 0vw 2vw 0vw;
    background: #e7e6e6;
}

.servicos h1 {
    color: #2B3570;
    text-align: center;
    font-size: 1.7vw;
}

.linhaServico {
    width: 16vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
    margin-bottom: 1vw;
}

.servicos p {
    color: #2B3570;
    text-align: center;
    font-size: 1.2vw;
}

/* Estilizando cards */

.cardsServicos {
    display: block;
    margin-top: 3vw;
}

/* Estilizando part 1 */
.part1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.imgServico {
    width: 20vw;
    display: block;
}

.imgServico1 {
    width: 20vw;
    height: 11vw;
    display: block;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;  
}

.card1 {
    width: 20vw;
    position: relative;
}

.card1 p {
    width: 60%;
    position: absolute;
    top: 4vw;
    left: 4vw;
    color: white;
    font-size: 1vw;
    z-index: 1;
    text-align: center;
}

.saibaMais {
    width: 20vw;
    background-color: #2B3570;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding: 1vw;
    font-size: 0.8vw;
}

.saibaMais1 {
    width: 20vw;
    background-color: #2B3570;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding: 1vw;
    font-size: 0.8vw;
}

.saibaMais img {
    margin-left: 13vw;
    width: 0.5vw;
    
}

.saibaMais1 img {
    margin-left: 13vw;
    width: 0.5vw;
}

/* part2 */

.part2 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4vw;
}

/* quarta seção */

.quarta-secao {
    width: 100%;
    height: auto;
}

.clientes h2 {
    margin-top: 5vw;
    margin-left: 11.5vw;
    color: white;
    font-size: 1.7vw;
}

.linhaClientes {
    width: 14vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin-bottom: 1vw;
    margin-left: 11.5vw;
}


.carrossel {
    height: 16.276041666666668vw;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.fornecedores {
    display: flex;
    width: calc(36.807291666666664vw * 16);
    animation: scroll 20s linear infinite;
}

.samsung {
    margin-right: 6.510416666666667vw;
}

.samsung:hover {
    border-color: #FDC204;
}

.fornecedores:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-16.276041666666668vw * 6.4));
    }
}

.samsung {
    border: 0.1vw solid white;
    height: 13.020833333333334vw;
    width: 16.276041666666668vw;
    display: flex;
    align-items: center;
    padding: 0.6510416666666666vw 0 0 1.6276041666666667vw;
    perspective: 6.510416666666667vw;
}

.samsung {
    transition: 0.5s;
}

#silvicultura{
    width: 13vw;
}

#castrolandia{
    width: 13vw;
}

#bekaert{
    width: 13vw;
}

#pontencial{
    width: 15vw;
    transform: translateX(-1vw);
}

#dexco {
    width: 15vw;
    transform: translateX(-1vw);
    
}

#uniarea{
    width: 15vw;
    transform: translateX(-1vw);
}

.projetos-realizados h2 {
    margin-top: 5vw;
    text-align: center;
    color: white;
    font-size: 1.7vw;
}

.linhaProjetos {
    width: 19.5vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin-bottom: 1vw;
    margin-left: 40vw;
}

.projetos {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.projetos img {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.fixed-bottom {
    z-index: 6;
    left: initial;
    top: 20vw;

    
}

#botaoFixo {
    display: flex;
    flex-direction: column;
}

#botaoFixo > img {

    margin-bottom: 0.2vw;
    width: 3.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
}

#botaoFixo > img:hover {

    transform: scale(1.1);

}

