.linhaConheca-servico5 {
    width: 40vw;
    border-top: 0.15vw solid #FDC204;
    border-radius: 0.078125vw;
    margin: auto;
    margin-bottom: 1vw;
}

.conheca-servico5{
    margin-left: 28vw;
    text-align: center;
    position: absolute;
    top: 7vw;
    z-index: 1;
}


.conheca-servico5 h1, h3{
    text-align: center;
}   

.conheca-servico5 h1{
    color: white;
    font-size: 2vw;
}

.conheca-servico5 h3{
    color: #afa2a2;
    font-size: 1vw;
}

@media only screen and (max-width: 600px) {

    .conheca-servico5 h1{
        width: 100vw;
        font-size: 3.8vw;
        transform: translateX(-29vw);
    }

    .linhaConheca-servico5 {
        width: 75vw;
        transform: translateX(-29vw);
    }

    .conheca-servico5 h3{
        font-size: 3vw;
        transform: translateX(-29vw);
    }
}